<div class="bg-white">
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">Destinos</h2>

    <div class="mt-6 grid grid-flow-col gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8" >
      <div class="group relative" *ngFor="let destino of destinos">
      
        <div>
            <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
            <img src="https://media.istockphoto.com/photos/typical-view-in-cartagena-colombia-picture-id987754560?k=20&m=987754560&s=612x612&w=0&h=dnFv94Vlroc_3hAmi-gzAZ7ndNHMgOZgTjqrGPYd3ig=" alt="Front of men&#039;s Basic Tee in black." class="w-full h-full object-center object-cover lg:w-full lg:h-full">
            </div>
            <div class="mt-4 flex justify-between">
                <div>
                    <h3 class="text-sm text-gray-700">
                    <a href="#">
                        <span aria-hidden="true" class="absolute inset-0">{{destino.ubication}}</span>
                    </a>
                    </h3>
                    <p class="mt-1 text-sm text-gray-500">{{destino.name}}</p>
                </div>
            <p class="text-sm font-medium text-gray-900">${{destino.price}}</p>
            </div>
        </div>
        <div class="text-center pt-8 ">
              <a class="text-blue-400">editar </a>|<a class="text-blue-400 hover:text-red-400"> borrar</a>
        </div>
      </div>
    </div>
  </div>
</div>

